@use '@angular/material' as mat;

// Include the common styles for Angular Material
@include mat.core();

// Define your theme
$your-primary: mat.define-palette(mat.$indigo-palette);
$your-accent: mat.define-palette(mat.$pink-palette);
$your-theme: mat.define-light-theme((
  color: (
    primary: $your-primary,
    accent: $your-accent,
  )
));

// Include theme styles for core and each component used
@include mat.all-component-themes($your-theme);
